<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Web Page</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-tiem">
                <a class="nav-link" routerLink="/trees" routerLinkActive="active">Bäume</a>
            </li>
            <li class="nav-tiem">
                    <a class="nav-link" routerLink="/cars" routerLinkActive="active">Autos</a>
                </li>
        </ul>
    </div>
</nav>